body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  padding-top: 80px;
  position: relative;
  background-color: #EAF6F6;
}

.middle-container {
  background-color: white;
}

.bottom-container {
  background-color: #66BFBF;
  padding : 30px;
  margin-top: 50px;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

p {
  line-height: 2;
}

.skill-row {
  margin: 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.computer {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.coder {
  width: 25%;
  float: right;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

span {
  text-decoration: underline;
}

.profile-photo {
  width: 30%;
  height: 30%;
}

.profile {
  width: 50%;
  margin: 60px auto 0 auto;
}

.contact-me {
  width: 50%;
  margin: 30px auto 0 auto;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 40px;
}

a {
  color: #11999E;
}

.secondline {
  font-weight: normal;
}

.special {
  margin : 100px auto;
  border: none;
  border-top: 10px dotted #E2BCB7;
  width: 6%;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding : 20px 0;
}

.footer-link {
  padding-right: 20px;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999e);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999e);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999e);
   background-image: -o-linear-gradient(top, #11CDD4, #11999e);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999e);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 10px 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top: 30px;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 5px;
   text-decoration: none;
}
